<span class="loading-indicator" *ngIf="loading"><mat-spinner></mat-spinner></span>
<div class="main_component">
    <div class="div-center">
        <h1>Signup</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline"><mat-label for="username">Username:</mat-label><input matInput type="text" formControlName="username"></mat-form-field>
            <mat-form-field appearance="outline"><mat-label for="email">E-mail:</mat-label><input matInput type="email" formControlName="email"></mat-form-field>
            <mat-form-field appearance="outline"><mat-label for="password">Password:</mat-label><input matInput type="password" formControlName="password"></mat-form-field>
            <mat-form-field appearance="outline"><mat-label for="rePassword">Password confirm:</mat-label><input matInput type="password" formControlName="rePassword"></mat-form-field>
            <span>
                <span class="buttons"><button mat-raised-button type="submit">Signup</button></span>
                <span class="buttons"><button mat-raised-button type="reset" [routerLink]="'/login'">Login</button></span>
            </span>
        </form>
    
    
    </div>
</div>
