.div-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 100%;
}

.div-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.main_component{
    margin-top:30px;
    min-height: 100vh;
}


.card {
    width:30%;
    margin-bottom:30px;
}